/* Container Padding */
.about-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Zoom Image & Parallax Styling */
.zoom-img {
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.parallax-item {
  transition: transform 0.3s ease-out;
  transform-origin: center;
}

/* Primary Color */
.custom-primary {
  color: var(--primary-color);
}

/* Border Color */
.custom-border {
  border-color: var(--primary-color);
}

/* Stats Section */
.stats-section {
  padding-top: 20px;
}

.stats-number {
  gap: 0px;
  margin: 10px 0;
}

.stats-number span {
  line-height: 1;
}

/* Text & Link Styling */
.stats-section a {
  color: var(--primary-color);
  transition: 0.3s ease;
}

.stats-section a:hover {
  opacity: 0.8;
}

/* Paragraph alignment */
.full-width-paragraph {
  width: 90%;
  margin: 0;
}

.webkit-text {
  font-size: 40px;
  font-weight: 700;
  -webkit-text-stroke: 1px rgb(106, 104, 104);
  color: transparent;
  line-height: 1;
}

body.dark-theme .webkit-text {
  -webkit-text-stroke: 1px var(--text-main);
}

body.dark-theme .stats-section .custom-border {
  border-color: var(--text-main) !important;
}